.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}


.tarjeta
{
    position: relative;
    width: 320px;
    height: 450px;
    background: #957878;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0,0.25);
    margin-top: 20px;
}

.tarjeta .poster
{
    position: relative;
    overflow: hidden;

}


/* Aquí van los cambios para la iluminación gradiente*/
.tarjeta .poster::before
{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #957878 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.tarjeta .poster-rodrigo::before
{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #61f174 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.tarjeta .poster-salvador::before
{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #8b9d15 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.tarjeta .poster-carolina::before
{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #8b9d15 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}


/* Aquí termina el efecto iluminación gradiente*/


/* Aquí empieza el efecto cortina*/
.tarjeta:hover .poster::before
{
    bottom: 0px
}

.tarjeta:hover .poster-rodrigo::before
{
    bottom: 0px
}

.tarjeta:hover .poster-salvador::before
{
    bottom: 0px
}



/* Aquí termina el efecto cortina*/


/* efecto Blur y animaciones Martina*/
.tarjeta .poster img
{
    width: 100%;
    transition: 0.5s;
    
}

.tarjeta:hover .poster img
{
    transform: translateY(-50px);
    filter: blur(5px);
}

/* efecto Blur y animaciones Rodrigo*/

.tarjeta:hover .poster-rodrigo img
{
    transform: translateY(-50px);
    filter: blur(5px);
}

.tarjeta .poster-rodrigo img
{
    width: 100%;
    transition: 0.5s;
}

/* efecto Blur y animaciones Salvador*/

.tarjeta:hover .poster-salvador img
{
    transform: translateY(-50px);
    filter: blur(5px);
}

.tarjeta .poster-salvador img
{
    width: 100%;
    transition: 0.5s;
}

/* efecto Blur y animaciones Carolina*/

.tarjeta:hover .poster-carolina img
{
    transform: translateY(-50px);
    filter: blur(5px);
}

.tarjeta .poster-carolina img
{
    width: 100%;
    transition: 0.5s;
}

.tarjeta .details
{
    position: absolute;
    bottom: -190px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}

.tarjeta:hover .details
{
    bottom: 40px;
}

.tarjeta .details .logoTitulo
{
    max-width: 300px;
}

.tarjeta .details h4
{
    font-size: 0.9em;
    color: #fff;
}

.tarjeta .details .tags
{
    position: relative;
    margin-top: 1px;
}

.tarjeta .details .tags span
{
    padding: 2px 5px;
    color: #fff;
    background: #07368d;
    border-radius: 4px;
}

.tarjeta .details .tags .CIISA
{
    background: #048b21;
}

.tarjeta .details .tags .informatica
{
    background: #091298;
}

.tarjeta .details .tags .fisica
{
    background: #8b9d15;
}



.tarjeta .details .info{
    color: #ffffff;
    margin-top: 10px;

}



.tarjeta .details .iconos .redes-sociales
{
    display: flex;
    justify-content: space-around;
}